menu "SensorManager"

#----------------------------------------------------------------------------#
menu "Thread priorities"

config SENSOR_PUB_THREAD_PRIO
	int "Priority for power measurement thread"
	default 5
	help
	  This thread will publish sensor events to zbus.

config SENSOR_WORK_QUEUE_PRIO
	int "Priority for power measurement thread"
	default 5
	help
	  This thread will publish sensor events to zbus.

config SENSOR_GATT_NOTIFY_THREAD_PRIO
	int "Priority for volume message subscribe thread"
	default 6
	help
	  This is a preemptible thread.
	  This thread will subscribe to sensor events from zbus.

config SENSOR_SD_THREAD_PRIO
    int "Priority for volume message subscribe thread"
	default 5
	help
	  This is a preemptible thread.
	  This thread will subscribe to sensor events from zbus.
endmenu # Thread priorities

#----------------------------------------------------------------------------#
menu "Stack sizes"

config SENSOR_PUB_STACK_SIZE
	int "Stack size for power measurement thread"
	default 2048

config SENSOR_WORK_QUEUE_STACK_SIZE
	int "Stack size for power measurement thread"
	default 1024

config SENSOR_GATT_NOTIFY_STACK_SIZE
	int "Stack size"
	default 2048

config SENSOR_SD_STACK_SIZE
    int "Stack size"
	default 8192

endmenu # Stack sizes

#----------------------------------------------------------------------------#
menu "Zbus"

config SENSOR_SD_SUB_QUEUE_SIZE
	int "Queue size for button subscriber"
	default 256

config SENSOR_GATT_SUB_QUEUE_SIZE
	int "Queue size for content control subscriber"
	default 256

endmenu # Zbus

#-----------------------------------------------------------------------------#
menu "Buffer management"

config SENSOR_CLOCK_ACCURACY
	int "Clock accuracy"
	default 5
	help
	  This is the clock accuracy in percent. The default value is 5 percent.
	  This value is used to calculate the time difference between the
	  sensor and the system clock. The value is used to calculate the
	  time difference between the sensor and the system clock.

config SENSOR_LATENCY_MS
	int "Latency"
	default 40
	help
	  This is the latency in milliseconds. The default value is 40 ms.
	  This value is used to calaculate the buffer size of the sensors
	  that use an internal buffer.

endmenu # Buffer management

endmenu # Modules